# Codeowners
/.github/CODEOWNERS   @owner_username

# GitHub Actions workflow files
/.github/workflows/   @skriptfabrik/github-actions-maintainers

# Devcontainer configuration
/.devcontainer/       @skriptfabrik/devcontainer-maintainers

# NPM package files
package.json          @skriptfabrik/npm-maintainers
pnpm-lock.yaml        @skriptfabrik/npm-maintainers
