version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'sunday'
    commit-message:
      prefix: 'chore'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'sunday'
    commit-message:
      prefix: 'chore'

  - package-ecosystem: 'npm'
    directory: '/'
    groups:
      commitlint:
        patterns:
          - '@commitlint/*'
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - 'version-update:semver-major'
    schedule:
      interval: 'weekly'
      day: 'monday'
    commit-message:
      prefix: 'chore'
