version: 2

updates:
  - package-ecosystem: 'github-actions'
    directories:
      - '/'
      - '/actions/setup-turborepo'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: chore

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: chore

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    commit-message:
      prefix: chore
