# Build files
/dist

# Caches and logs
/.cache
/.nx/cache
/.nx/workspace-data
/migrations.json

# Coverage
/coverage

# Dependencies
node_modules

# IDEs and editors
/.idea

# N8N
/.n8n

# System files
.DS_Store
Thumbs.db

# Temp files
/tmp
