# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Compiled output
dist/

# Dependencies
node_modules/
.pnpm-store

# Dotenv environment variables files
.env

# IDEs and editors
.idea/*
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# N8N
.cache/n8n/
.n8n/

# System files
.DS_Store
Thumbs.db

# Turborepo
.turbo/
