# Compiled output
dist/

# Dependencies
node_modules/
.pnpm-store

# Dotenv environment variables file
.env

# IDEs and editors
.idea/*
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# N8N
.cache/n8n/
.n8n/

# System Files
.DS_Store
Thumbs.db

# Turbo
.turbo/
