name: Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  check-commit-messages:
    name: Check Commit Messages
    if: ${{ github.actor != 'dependabot[bot]' && github.actor != 'github-actions[bot]' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install canvas deps
        uses: ./.github/actions/install-canvas-deps

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json

      - name: Install dependencies
        run: pnpm install

      - name: Lint commits
        run: |
          pnpm exec commitlint \
            --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} \
            --to ${{ github.event.pull_request.head.sha }}

  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check Markdown files
        uses: nosborn/github-action-markdown-cli@v3
        with:
          files: .

  lint-yaml:
    name: Lint YAML
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Check YAML files
        uses: ibiqlik/action-yamllint@v3
